<h1>Articles</h1>
<p>Article stock:</p>
<ul>
  <% @articles.each do |article| %>
    <li><%= article.name.upcase %> <%= link_to "update",  edit_article_url(article)%>
    <br> --  qty: <%= article.stock %></li>
    <br>
  <% end %>
</ul>

<br>
<%= link_to 'back', root_url %>
