<h1>Warehouse</h1>

<p>Inventory status:</p>
<ul>
  <li><%= link_to 'view products', products_url %></li>
  <li><%= link_to 'view articles', articles_url %></li>
</ul>

<br>

<p>Inventory actions:</p>
<ul>
  <li><%= link_to 'upload products/articles', products_upload_url %></li>
  <li><%= link_to 'sell products', products_sell_url %></li>
</ul>


